AIRFLOW__CORE__FERNET_KEY=replace-me
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=replace-me
AIRFLOW_ADMIN_FIRSTNAME=Rahul
AIRFLOW_ADMIN_LASTNAME=Duggempudi
AIRFLOW_ADMIN_EMAIL=admin@example.com

POSTGRES_HOST=postgres.railway.internal
POSTGRES_PORT=5432
POSTGRES_USER=airflow
POSTGRES_PASSWORD=replace-me
POSTGRES_DB=railway

KIBANA_URL=http://kibana.railway.internal:5601
ELASTICSEARCH_URL=http://elasticsearch.railway.internal:9200
ELASTICSEARCH_HOSTS=http://elasticsearch.railway.internal:9200
